<!DOCTYPE html>
<html>
    <head>
        <title>add a photo</title>
    </head>
    <body>
        <h1>Hello !</h1>
        
        <p>
           here is formular to add a photo
        </p>
    </body>
</html>