<!DOCTYPE html>
<html>
    <head>
        <title>all Pictures</title>
    </head>
    <body>
        <h1>Here is picture carac</h1>
        
        <p>
            cette photo appartient a la societe {{ soc_name }} et s'apelle {{ title }}. Elle est un fichier d'extention {{ext}}.
        </p>
    </body>
</html>